:root {
    --main-blue: #83BCFF;
    --main-pink: #ECCBD9;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: var(--main-blue);
    padding: 1em;
}

.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#message-container {
    overflow-y: auto;
}

.message {
    border-left: 4px solid var(--main-blue);
    font-family: 'Roboto', sans-serif;
    margin: 1em 2em;
    padding: .25em .5em;
    width: 80%;
}

.author {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.content {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
}



/****************/
/***** FORM *****/
/****************/

.form-container {
    bottom: 0;
    background-color: rgba(240, 240, 240, .2);
    display: flex;
    width: 100%;
}

#form-message {
    display: flex;
    padding: 2em;
    width: 100%;
}

label {
    font-family: 'Roboto', sans-serif;
}

#input-message {
    border: 2px solid var(--main-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: .5em .75em;
    width: 100%;
}


#input-message:focus {
    outline: none;
}

#submit-message {
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    border-left: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: .5em 1em;
    outline: none;
    transition: 0.2s ease-in-out;
}

#submit-message:hover {
    background-color: white;
    color: var(--main-blue);
}
