:root {
    --main-blue: #83BCFF;
    --main-pink: #ECCBD9;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#message-container {
    overflow-y: scroll;
    padding-bottom: 5em;
}

.message {
    border-left: 4px solid var(--main-blue);
    padding: .25em .5em;
    margin: 1em auto;
    width: 80%;
}

.author {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
}



/****************/
/***** FORM *****/
/****************/

.form-container {
    border-top: 2px solid var(--main-blue);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
}

label {
    font-family: 'Roboto', sans-serif;
}

#input-message {
    border: 1px solid rgba(100, 100, 100, 50%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: .5em .75em;
    width: 50em;
}


#input-message:focus {
    border: 1px solid black;
    outline: none;
}

#submit-message {
    background-color: var(--main-blue);
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: .75em 1em;
    transition: 0.2s ease-in-out;
    outline: none;
}

#submit-message:hover {
    background-color: white;
    border-color: var(--main-blue);
    color: var(--main-blue);
}
