:root {
    --main-blue: #83BCFF;
    --main-pink: #ECCBD9;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}



/*******************/
/***** SIDEBAR *****/
/*******************/

.sidebar {
    background-color: var(--main-blue);
    padding: 1em;
    overflow-y: auto;
}

.sidebar > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}

#rooms {
    margin: 1em .5em;
}

.room {
    align-items: center;
    border: 2px solid transparent;
    display: flex;
    margin: .5em 0;
}

.room-picture {
    background-color: white;
    border-radius: .5em;
    cursor: pointer;
    height: 48px;
    padding: .25em;
    object-fit: contain;
    width: 48px;
}

.room-name {

}


.current-room {
    border-radius: .5em;
    border-color: black;
    transition: .2s ease-out;
}


/************************/
/***** MESSAGE ZONE *****/
/************************/

.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#room-title {
    border-bottom: 2px solid var(--main-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

#message-container {
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    border-left: 2px solid var(--main-blue);
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    padding: .25em .5em;
    width: 80%;
}

.author {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.content {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
}



/****************/
/***** FORM *****/
/****************/

.form-container {
    bottom: 0;
    background-color: rgba(240, 240, 240, .2);
    display: flex;
    width: 100%;
}

#form-message {
    display: flex;
    padding: 2em;
    width: 100%;
}

label {
    font-family: 'Roboto', sans-serif;
}

#input-message {
    border: 2px solid var(--main-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: .5em .75em;
    width: 100%;
}


#input-message:focus {
    outline: none;
}

#submit-message {
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    border-left: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: .5em 1em;
    outline: none;
    transition: 0.2s ease-in-out;
}

#submit-message:hover {
    background-color: white;
    color: var(--main-blue);
}
